{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Weekend Plus</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/agency.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>



<!-- 
  <body id="page-top">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar bg-dark text-white">
        <div class="sidebar-sticky mx-2">
          <ul class="nav flex-column">
            <div>
              <div class="mx-5">
                <img src="{% static 'images/wplus-logo.png' %}" width="75" height="45" alt="">
              </div>
              <div class="mt-5">
                <img class="mx-4" src="{{ request.user.perfil.imagem_perfil.url }}"
                  style="vertical-align: middle; width: 100px; height:100px; border-radius: 50%;">
              </div>
              <div class="mt-5 mb-5">
                <span>Olá, {{ request.user }}</span>
                <span><a href="{% url 'logout' %}">Logout</a></span>
              </div>

            </div>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'dashboard' %}">
                <span data-feather="home"></span>Meu Perfil <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_conta' %}">
                <span data-feather="file"></span>Minha conta 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>Products
              </a>
            </li>
          </ul>
        </div>
      </nav>
-->

<body>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <div class="mr-5 pr-5">
            <img src="{% static 'images/wplus-logo.png' %}" width="75" height="45" alt="">
          </div>          
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded"
              src="{{ request.user.perfil.imagem_perfil.url }}"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">{{ request.user.first_name }}
              <strong>{{ request.user.last_name }}</strong>
            </span>
            <!-- <span class="user-role">Administrator</span> --> 
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
            <span class="user-role text-primary"><a href="{% url 'logout' %}">Logout</a></span>
          </div>
        </div>
        <!-- sidebar-header  
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li>
              <a href="{% url 'dashboard' %}">
                <i class="fas fa-address-book"></i>
                <span>Meu Perfil</span>
                <!--<span class="badge badge-pill badge-warning">New</span>-->
              </a>
              
            </li>
            <li>
              <a href="{% url 'dashboard_conta' %}">
                <i class="fas fa-address-card"></i>
                <span>Dados da Conta</span>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="fas fa-credit-card"></i>
                <span>Alterar Plano</span>                
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Últimos Adds</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-splotch"></i>
                <span>Favoritos</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content 
      <div class="sidebar-footer">
        <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="#">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        {% block perfil %}
        {% endblock perfil %}

        {% block conta %}
        {% endblock conta %}
      </div>
    </main>
  </div>
</body>



<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/js_dashboard.js' %}"></script>

</body>

</html>