{% extends 'base/index.html' %}
{% block midia_descricao %}

{% include 'base/navbar.html' %}
<header class="fixed-background blue-gradient-bg">
  <section>
    <div class="container text-white">

      <h2>titulo</h2>
      <p>descricao</p>
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>

    </div>
  </section>

</header>











{%endblock midia_descricao %}