{% extends 'base/index.html' %}
{% load static %}
{% block filmes_series %}
{% include 'base/navbar.html' %}


<!-- Ultimos Adicionados -->
{% for last in last_upload %}
    <div class="video-background-holder">
        <div class="video-background-overlay">
            <iframe width="100%" height="100%" src="{{ last.link }}?autoplay=1&mute=1&showinfo=0&controls=0&modestbranding=1&iv_load_policy=3&rel=0&loop=1&enablejsapi=1" frameborder="0"  allow="autoplay; picture-in-picture" allowfullscreen></iframe>
            
        </div>
        <div class="video-background-content container h-100">
          <div class="d-flex h-100 text-left align-items-center">
            <div class="w-100 text-white">
              <h1 class="display-4">Novo na W+ <br><i>{{ last.titulo }}</i></h1>
              
              <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger mt-5" href="">Assistir agora</a>
              </p>
            </div>
          </div>
        </div>
      </div>
{% endfor %}

<section class="page-section text-white mt-0 " style="background-color: #171616;">
    <div class="container mt-0">
        <div class="col-lg-12 text-left">
            <h3 class="section-heading text-uppercase">Ultimos Atualizados</h3>
        </div>
        <div class="row flex-row flex-nowrap shadow">
            {% for ultimo in ultimos %}
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="hovereffect">
                    <img src="{{ ultimo.thumbnail.url }}" class="img-fluid" alt="...">
                    <a class="stretched-link" data-toggle="modal" data-target="#openModal_{{ ultimo.id }}"
                        data-id="openModal_{{ ultimo.id }}"></a>
                    <div class="overlay">
                        <p>
                            <a href="#">{{ ultimo.titulo }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Modal Ultimo -->
            <div class="modal fade " id="openModal_{{ ultimo.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body background-eerie-black">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="modal-title">{{ ultimo.titulo }}</h5>
                                    <p class="small muted">{{ ultimo.descricao }}</p>
                                    <p class="small muted">Ano: {{ ultimo.ano }}</p>
                                    <p class="small muted">Duração: {{ ultimo.duracao }}min</p>
                                    <p class="small muted">Categoria: {{ ultimo.categoria }} </p>
                                    <p class="small muted">Gênero: {{ ultimo.genero }}</p>
                                    <p class="small muted">Classificação: {{ ultimo.classificacao }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ ultimo.link }}?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer background-raisin-black">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary">Abrir</button>
                            {% else %}
                            <p>Você não fez login ainda</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Filmes -->

    <div class="container ">
        <hr>
        <div class="container">
            <div class="col-lg-12 text-left">
                <h3 class="section-heading text-uppercase">Filmes</h3>
            </div>
        </div>
        <div class="row flex-row flex-nowrap shadow">
            {% for filme in filmes %}
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="hovereffect">
                    <img src="{{ filme.thumbnail.url }}" class="img-fluid" alt="...">
                    <a class="stretched-link" data-toggle="modal" data-target="#openModal_{{ filme.id }}"
                        data-id="openModal_{{ filme.id }}"></a>
                    <div class="overlay">
                        <p>
                            <a href="#">{{ filme.titulo }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Modal Filme -->
            <div class="modal fade " id="openModal_{{ filme.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body background-eerie-black">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="modal-title">{{ filme.titulo }}</h5>
                                    <p class="small muted">{{ filme.descricao }}</p>
                                    <p class="small muted">Ano: {{ filme.ano }}</p>
                                    <p class="small muted">Duração: {{ filme.duracao }}min</p>
                                    <p class="small muted">Categoria: {{ filme.categoria }} </p>
                                    <p class="small muted">Gênero: {{ filme.genero }}</p>
                                    <p class="small muted">Classificação: {{ filme.classificacao }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ filme.link }}?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer background-raisin-black">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary">Abrir</button>
                            {% else %}
                            <p>Você não fez login ainda</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Series -->

    <div class="container ">
        <hr>
        <div class="col-lg-12 text-left">
            <h3 class="section-heading text-uppercase">Series</h3>
        </div>

        <div class="row flex-row flex-nowrap shadow">
            {% for serie in series %}
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="hovereffect">
                    <img src="{{ serie.thumbnail.url }}" class="img-fluid" alt="...">
                    <a class="stretched-link" data-toggle="modal" data-target="#openModal_{{ serie.id }}"
                        data-id="openModal_{{ serie.id }}"></a>
                    <div class="overlay">
                        <p>
                            <a href="#">{{ serie.titulo }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Modal Serie -->
            <div class="modal fade " id="openModal_{{ filme.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body background-eerie-black">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="modal-title">{{ serie.titulo }}</h5>
                                    <p class="small muted">{{ serie.descricao }}</p>
                                    <p class="small muted">Ano: {{ serie.ano }}</p>
                                    <p class="small muted">Duração: {{ serie.duracao }}min</p>
                                    <p class="small muted">Categoria: {{ serie.categoria }} </p>
                                    <p class="small muted">Gênero: {{ serie.genero }}</p>
                                    <p class="small muted">Classificação: {{ serie.classificacao }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ serie.link }}?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer background-raisin-black">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary">Abrir</button>
                            {% else %}
                            <p>Você não fez login ainda</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="menu-wrapper">
            <ul class="menu">
                <li class="item">1</li>
                <li class="item">2</li>
                <li class="item">3</li>
                <li class="item">4</li>
                <li class="item">5</li>
                <li class="item">6</li>
            </ul>
        
            <div class="paddles">
                <button class="left-paddle paddle hidden">
                    <
                </button>
                <button class="right-paddle paddle">
                    >
                </button>
            </div>
        
        </div>
        
        <div class="print" id="print-wrapper-size"><span></span> Wrapper / visible menu size</div>
        <div class="print" id="print-menu-size"><span></span> Total menu size</div>
        <div class="print" id="print-menu-invisible-size"><span></span> Invisible menu size</div>
        <div class="print" id="print-menu-position"><span></span> Scroll position</div>
    </div>
</section>




{% endblock filmes_series %}