{% extends 'base/index.html' %}
{% load static %}
{% block filmes_series %}
{% include 'base/navbar.html' %}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bem vindo a Weekend Plus!</div>
            <div class="intro-heading text-uppercase">Seu streaming de filmes</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Sobre</a>
        </div>
    </div>
</header>

<!-- Ultimos Adicionados -->

<section class="page-section text-white" style="background-color: #171616;">
    <div class="container ">
        <hr>
        <div class="col-lg-12 text-left">
            <h3 class="section-heading text-uppercase">Ultimos Atualizados</h3>
        </div>
        <div class="row flex-row flex-nowrap shadow">
            {% for ultimo in ultimos %}
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="hovereffect">
                    <img src="{{ ultimo.thumbnail.url }}" class="img-fluid" alt="...">
                    <a class="stretched-link" data-toggle="modal" data-target="#openModal_{{ ultimo.id }}"
                        data-id="openModal_{{ ultimo.id }}"></a>
                    <div class="overlay">
                        <p>
                            <a href="#">{{ ultimo.titulo }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Modal Ultimo -->
            <div class="modal fade " id="openModal_{{ ultimo.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body background-eerie-black">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="modal-title">{{ ultimo.titulo }}</h5>
                                    <p class="small muted">{{ ultimo.descricao }}</p>
                                    <p class="small muted">Ano: {{ ultimo.ano }}</p>
                                    <p class="small muted">Duração: {{ ultimo.duracao }}min</p>
                                    <p class="small muted">Categoria: {{ ultimo.categoria }} </p>
                                    <p class="small muted">Gênero: {{ ultimo.genero }}</p>
                                    <p class="small muted">Classificação: {{ ultimo.classificacao }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ ultimo.link }}?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer background-raisin-black">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary">Abrir</button>
                            {% else %}
                            <p>Você não fez login ainda</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Filmes -->

    <div class="container ">
        <hr>
        <div class="container">
            <div class="col-lg-12 text-left">
                <h3 class="section-heading text-uppercase">Filmes</h3>
            </div>
        </div>
        <div class="row flex-row flex-nowrap shadow">
            {% for filme in filmes %}
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="hovereffect">
                    <img src="{{ filme.thumbnail.url }}" class="img-fluid" alt="...">
                    <a class="stretched-link" data-toggle="modal" data-target="#openModal_{{ filme.id }}"
                        data-id="openModal_{{ filme.id }}"></a>
                    <div class="overlay">
                        <p>
                            <a href="#">{{ filme.titulo }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Modal Filme -->
            <div class="modal fade " id="openModal_{{ filme.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body background-eerie-black">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="modal-title">{{ filme.titulo }}</h5>
                                    <p class="small muted">{{ filme.descricao }}</p>
                                    <p class="small muted">Ano: {{ filme.ano }}</p>
                                    <p class="small muted">Duração: {{ filme.duracao }}min</p>
                                    <p class="small muted">Categoria: {{ filme.categoria }} </p>
                                    <p class="small muted">Gênero: {{ filme.genero }}</p>
                                    <p class="small muted">Classificação: {{ filme.classificacao }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ filme.link }}?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer background-raisin-black">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary">Abrir</button>
                            {% else %}
                            <p>Você não fez login ainda</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Series -->

    <div class="container ">
        <hr>
        <div class="col-lg-12 text-left">
            <h3 class="section-heading text-uppercase">Series</h3>
        </div>

        <div class="row flex-row flex-nowrap shadow">
            {% for serie in series %}
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="hovereffect">
                    <img src="{{ serie.thumbnail.url }}" class="img-fluid" alt="...">
                    <a class="stretched-link" data-toggle="modal" data-target="#openModal_{{ serie.id }}"
                        data-id="openModal_{{ serie.id }}"></a>
                    <div class="overlay">
                        <p>
                            <a href="#">{{ serie.titulo }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Modal Serie -->
            <div class="modal fade " id="openModal_{{ filme.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body background-eerie-black">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="modal-title">{{ serie.titulo }}</h5>
                                    <p class="small muted">{{ serie.descricao }}</p>
                                    <p class="small muted">Ano: {{ serie.ano }}</p>
                                    <p class="small muted">Duração: {{ serie.duracao }}min</p>
                                    <p class="small muted">Categoria: {{ serie.categoria }} </p>
                                    <p class="small muted">Gênero: {{ serie.genero }}</p>
                                    <p class="small muted">Classificação: {{ serie.classificacao }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ serie.link }}?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer background-raisin-black">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary">Abrir</button>
                            {% else %}
                            <p>Você não fez login ainda</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




{% endblock filmes_series %}