{%extends 'base/index.html'%}
{% load static %}
{% block checkout %}





<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{% static "images/wplus-logo.png" %}" alt="" width="75" height="45">
      <h2>Pagamento</h2>
      <p class="lead">Pague mensalmente e sim, você é livre para cancelar quando quiser, sem compromisso.</p>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Sua compra</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          
          
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (BRL)</span>
            <strong>R$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Endereço de Cobrança</h4>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nome</label>
              <input type="text" class="form-control" id="nome" placeholder="" value="" required>
              <div class="invalid-feedback">
                Nome valido requerido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Sobrenome</label>
              <input type="text" class="form-control" id="sobrenome" placeholder="" value="" required>
              <div class="invalid-feedback">
                Sobrenome valido requerido.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Login</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Login" required>
              <div class="invalid-feedback" style="width: 100%;">
                Digite seu Login.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">
              Digite um endereço de email valido.
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Endereço</label>
            <input type="text" class="form-control" id="address" placeholder="Rua abc, 1200" required>
            <div class="invalid-feedback">
             Digite um endereço.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">Complemento</label>
            <input type="text" class="form-control" id="address2" placeholder="Apartamento, Casa..." required>
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">País</label>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Escolha...</option>
                <option>Brasil</option>
              </select>
              <div class="invalid-feedback">
                Escolha um País válido.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">Estado</label>
              <select class="custom-select d-block w-100" id="state" required>
                <option value="">Escolha...</option>
                <option>PR</option>
                <option>SP</option>
                <option>RJ</option>
              </select>
              <div class="invalid-feedback">
                Escolha um estado válido.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">CEP</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Cep requerido.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Salvar para proxima vez</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Método de Pagamento</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Cartão de Crédito</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Cartão de Débito</label>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Nome escrito no cartão</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Digite o nome completo que está no cartão</small>
              <div class="invalid-feedback">
                Nome requerido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Numero do Cartão</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
               Numero do cartão requerido.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Vencimento</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Vencimento requerido.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Código de segurança requerido.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Finalizar</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2019-2020 WPlus</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>



{% include 'base/footer.html' %}

{%endblock%}