{%extends 'base/index.html'%}
{% load static %}
{% block login %} 

	<div class="container-fluid bg-dark text-white">
		<div class="row no-gutter">
			<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
			<div class="col-md-8 col-lg-6">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-md-9 col-lg-8 mx-auto">
								<div class="mb-5">
									<img src="{% static 'images/wplus-logo.png' %}" width="75" height="45" alt="">
								</div>								
								<h3 class="login-heading mb-5">Bem vindo!</h3>
								<form method="POST">
									{% csrf_token %}
									<div class="form-label-group">
										<input type="text" id="inputEmail" class="form-control" placeholder="Nome Usuário" name="username" required autofocus>
										<label for="inputEmail">Nome Usuário</label>
									</div>

									<div class="form-label-group">
										<input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="senha" required>
										<label for="inputPassword">Senha</label>
									</div>

									<div class="container">
										{% if form.errors %}
											{% for field in form %}
												{% for error in field.errors %}
													<div class="alert alert-danger text-danger">
														<strong>{{ error|escape }}</strong>
													</div>
												{% endfor %}
											{% endfor %}
											{% for error in form.non_field_errors %}
												<div class="alert alert-danger text-danger">
													<strong>{{ error|escape }}</strong>
												</div>
											{% endfor %}
										{% endif %}
									</div>

									<button
										class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
										type="submit">Login</button>
									<div class="text-center mt-5">										
										<a class="small" href="{% url 'reset_password' %}">Esqueceu sua senha?</a>
										<br>
										<span class="small">Não possui uma conta ainda? <a href="{% url 'registrar' %}">Cadastre-se</a></span>										
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock login %} 