{%extends 'base/index.html'%}
{% load static %}
{% block obrigado %}
{%include "base/navbar.html" %}
 
  <div class="jumbotron jumbotron-fluid text-center bg-dark text-white w-100 h-100">
    <div class="fullscreen-bg"></div>
    <img  src="{% static "images/check.png" %}" alt="">
  
    <h1 class="display-3 mt-2 mb-2">Obrigado!</h1>
    {% for message in messages %}
    <div class="mt-3 mb-3">
      <p id="messages" class="red">{{ message }}</p>
    </div>
    {% endfor %}
    <p class="lead"><strong>Verifique o seu email</strong> para completar o cadastro.</p>
    <hr>
    <p>
      Alguma duvida? <a href="">Entre em Contato</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="{%url 'login' %}" role="button">Ir para tela inicial</a>
    </p>
  </div>




{%endblock%}
<!--{% static "images/parallax_pagina_obrigado.jpg" %}-->