{%extends 'base/index.html'%}
{% load static %}
{% block reset_done %}


<header class="masthead">
    <div class="container-fluid no-gutter">
        <div class="intro-text" style="margin-top: -200px;">

            <h3 class="mb-5">Reset da senha completo</h3>

            <p>Sua senha foi trocada com sucesso. Você pode seguir para a página de login agora</p>

            <a href="{% url 'login' %}">Login</a>
            <hr>
            <p>
                Alguma duvida? <a href="">Entre em Contato</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="{%url 'home' %}" role="button">Ir para tela inicial</a>
            </p>
        </div>
    </div>
</header>

{% include 'base/footer.html' %}

{%endblock%}