{%extends 'base/index.html'%}
{% load static %}
{% block reset_sent %}


<header class="masthead">
  <div class="container-fluid no-gutter">
    <div class="intro-text" style="margin-top: -200px;">
      
        <h2 class="mb-5">Reset da senha</h2>

        <p>Enviamos para seu email as instruções para reset da sua senha se a conta referente ao e-mail passado existir.</p>
        
        <p>Se você não receber o e-mail, por favor verifique se o e-mail passado existe e está correto e foi utilizado no seu registro. Lembre de checar sua caixa de spam.</p>
      <hr>
      <p>
        Alguma duvida? <a href="">Entre em Contato</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="{%url 'home' %}" role="button">Ir para tela inicial</a>
      </p>
    </div>
  </div>
</header>

{% include 'base/footer.html' %}

{%endblock%}

