{%extends 'base/index.html'%}

{% load static %}

{% block registrar %}

<div class="container-fluid bg-dark text-white">
	<div class="row no-gutter">
		<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
		<div class="col-md-8 col-lg-6">
			<div  class="text-right mr-5">
				<a href="{% url 'home' %}"><i class="fas fa-2x fa-times text-white"></i></a>
			</div>
			<div class="login d-flex align-items-center py-5">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-lg-8 mx-auto">
							<div class="mb-5 row d-flex justify-content-center">
								<img src="{% static 'images/wplus-logo.png' %}" width="75" height="45" alt="">
							</div>
							<h3 class="login-heading mb-5 text-center">Bem vindo!</h3>
							<form method="POST">
								{% csrf_token %}
								<div class="form-label-group">
									<input type="text" id="inputUserName" class="form-control" placeholder="Nome Usuário"
										name="username" required autofocus>
									<label for="inputUserName">Nome Usuário</label>
								</div>

								<div class="form-label-group">
									<input type="email" id="inputEmail" class="form-control" placeholder="E-mail"
										name="email" required>
									<label for="inputEmail">E-mail</label>
								</div>

								<div class="form-label-group">
									<input type="password" id="inputPassword1" class="form-control" placeholder="Senha"
										name="password1" required>
									<label for="inputPassword1">Senha</label>
								</div>

								<div class="form-label-group">
									<input type="password" id="inputPassword2" class="form-control" placeholder="Confirmar Senha"
										name="password2" required>
									<label for="inputPassword2">Confirmar Senha</label>
								</div>
								
								<div class="container">
									{% if form.errors %}
										{% for field in form %}
											{% for error in field.errors %}
												<div class="alert alert-danger text-danger">
													<strong>{{ error|escape }}</strong>
												</div>
											{% endfor %}
										{% endfor %}
										{% for error in form.non_field_errors %}
											<div class="alert alert-danger text-danger">
												<strong>{{ error|escape }}</strong>
											</div>
										{% endfor %}
									{% endif %}
								</div>
								
								<button
									class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
									type="submit">Cadastrar</button>
								<div class="text-center mt-5">
									<span class="small">Já possui sua conta? <a href="{% url 'login' %}">Login</a></span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock registrar %}