{% extends 'base/dashboard_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conta %}

<div class="row">
  <div class="container">
    <h1>Dados da Conta</h1>
  </div>

  <div class="container mt-3">
    <div class="card mb-3 shadow" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-4 text-center" >
          <i class="fab fa-9x fas fa-dice-one text-primary mb-4 mx-auto"></i>    
          <!--<img src="..." class="card-img" alt="...">-->
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Plano Básico</h5>
            <p class="card-text">1 Filme/Série por Dia
              Suporte por E-mail
              Download dos filmes
              Acesso ao Aplicativo</p>
            <p class="card-text"><small class="text-muted">R$9,90 / mês</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="container">
    <h1>Dados Pessoas</h1>
  </div>

  <div class="container mt-3">
    <h4 class="mb-5">Atualize abaixo seus dados pessoais</h4>
    <form method="POST" action="" enctype="multipart/form-data">
      <div class="form-group">
        {% csrf_token %}
        <div class="form-label-group">
          {{ form.telefone|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.cep|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.pais|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.estado|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.cidade|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.logradouro|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.complemento|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.numero|as_crispy_field }}
        </div>
        <div class="form-label-group">
          {{ form.imagem_perfil|as_crispy_field }}
        </div>

        <input type="submit" value="Atualizar" class="btn btn-primary">
      </div>
    </form>
  </div>

</div>




{% endblock conta %}