{% extends 'base/dashboard_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block perfil %}

<!-- NOVO TEMPLATE-->
<div>

  <div>



    <!--row open-->
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 ">
        <div class="card shadow">
          <div class="card-header">
            <h4>Meu Perfil</h4>
          </div>
          <div class="card-body">
            <div class="text-center">
              <div class="user-pic">
                <div class="user-pic">
                  <img class="img-responsive img-rounded" src="{{ request.user.perfil.imagem_perfil.url }}"
                    alt="User picture" style="width: 100px;">
                </div>
                <span class="user-name">{{ request.user.first_name }}
                  <strong>{{ request.user.last_name }}</strong>
                </span>

              </div>
              <div class="text-center">
                <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-label-group">
                    {{ form.imagem_perfil|as_crispy_field }}
                  </div>
                  <button type="submit" class="btn btn-primary btn-block submit" type="submit" name="btn-save">
                    <i class="fa fa-img"></i> Salvar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card mt-3 shadow">
              <div class="card-header">
                <h4>Meus Dados</h4>
              </div>
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                      <div class="form-group">
                        {{ form_conta.username|as_crispy_field }}
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        {{ form_conta.email|as_crispy_field }}
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        {{ form_conta.first_name|as_crispy_field }}
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        {{ form_conta.last_name|as_crispy_field }}
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        {{ form_conta.password1|as_crispy_field }}
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        {{ form_conta.password2|as_crispy_field }}
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-block submit" type="submit" name="btn-save">
                        <i class="fa fa-save"></i> Salvar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">


        <div class="col-sm-12">
          <div class="card shadow">
            <div class="card-header">
              <h4>Dados Pessoais</h4>
            </div>

            <div class="card-body">
              <form method="POST" action="" enctype="multipart/form-data">
                <div class="form-group">
                  {% csrf_token %}
                  <div class="form-label-group">
                    {{ form.telefone|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.cep|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.pais|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.estado|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.cidade|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.logradouro|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.complemento|as_crispy_field }}
                  </div>
                  <div class="form-label-group">
                    {{ form.numero|as_crispy_field }}
                  </div>
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-block submit" type="submit" name="btn-alt-pass">
                      Salvar
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!--row closed-->

  </div>
</div>
<!--app-content closed-->


{% endblock perfil %}