{% extends 'base/index.html' %}
{% block filme_descricao %}

{% include 'base/navbar.html' %}
<header class="fixed-background blue-gradient-bg">
</header>

<body id="page-top" background="{{ filme.background.url }}" class="img-fluid">


  <!--<img src="{{ filme.thumbnail }}"> -->
  <section>

    <div class="container text-white">
      <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6  ">
          <h2>{{ filme.titulo }}</h2>
          <div class="row">
            <div class="col-sm-3">
              <p>{{ filme.duracao }}min</p>
            </div>
            <div class="col-sm-2">
              <p>{{ filme.ano }}</p>
            </div>
            <div class="col-sm-2">
              <p>{{ filme.classificacao }}</p>
            </div>
          </div>

          <p class="mt-3">{{ filme.descricao }}</p>

          <div class="row mt-5">
            <div class="col-sm">Diretor:</div>
            <div class="col-9">{{ filme.diretor }}</div>
            <div></div>
            <div class="col-sm">Gênero:</div>
            <div class="col-9">{{ filme.genero }}</div>

          </div>

          <div class="row mt-5">
            <div class="col-sm-2">
              <a class="btn btn-primary" href="#play"><i class="fas fa-play-circle fa-2x"></i></a>              
            </div>
            <div class="col-sm-2">
              <form method="POST" id="filme_id">
                {% csrf_token %}
                <input hidden type="text" id="filme_id" name="filme_id" value="{{ filme.id }}">
                <button class="btn btn-primary" type="submit" name="btn-filme"><i class="far fa-heart fa-2x"></i></button>
              </form>
            </div>
            <div class="col-sm">
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

  <section id="play">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ filme.link }}?rel=0" allowfullscreen></iframe>
    </div>
  </section>

</body>









{% endblock filme_descricao %}