{% extends 'base/index.html' %}
{% block midia_descricao %}

{% include 'base/navbar.html' %}
<header class="fixed-background blue-gradient-bg">
  
  <section>

    <div class="container text-white">
      <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6  ">
          <h2>O Homem do Castelo Alto</h2>
          <div class="row">
            <div class="col-sm-3">
              <p>1h 30min</p>
            </div>
            <div class="col-sm-2">
              <p>2014</p>
            </div>
            <div class="col-sm-2">
              <p>14</p>
            </div>
          </div>

          <p class="mt-3">Baseado no romance premiado de Philip K. Dick e com produção executiva de Ridley Scott (Blade
            Runner) </br> e Frank Spotnitz (The X-Files), The Man in the High Castle explora o que teria acontecido se
            os Aliados </br> tivessem perdido a Segunda Guerra e o Japão e a Alemanha tivessem tomado os Estados
            Unidos.</br> Estrelando Rufus Sewell (John Adams), Luke Kleintank (Pretty Little Liars) e Alexa Davalos (Mob
            City).</p>

          <div class="row mt-5">
            <div class="col-sm">Diretor:</div>
            <div class="col-9">David</div>
            <div></div>
            <div class="col-sm">Gênero:</div>
            <div class="col-9">Drama</div>

          </div>

          <div class="row mt-5">
            <div class="col-sm-2">
              <i class="fas fa-play-circle fa-4x"></i>
            </div>
            <div class="col-sm-2">
              <form method="POST" id="form_id">
                {% csrf_token %}
                <button type="submit"><i class="far fa-heart fa-4x "></i></button>
              </form>
            </div>
            <div class="col-sm">
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

</header>











{%endblock midia_descricao %}