{% extends 'base/index.html' %}
{% block series_descricao %}

{% include 'base/navbar.html' %}




<header class="fixed-background blue-gradient-bg">




</header>

<body id="page-top" background="{{ serie.background.url }}" class="img-fluid">
  <section class="mt-5">

    <div class="container text-white mt-5">
      <div class=" direita">
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Temporada 01
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sg5kqygFpJg"></iframe>
              <iframe class="embed-responsive-item ml-3" src="https://www.youtube.com/embed/Sg5kqygFpJg"></iframe>
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sg5kqygFpJg"></iframe>
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sg5kqygFpJg"></iframe>
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sg5kqygFpJg"></iframe>
            </div>
            <iframe class="embed-responsive-item ml-6" src="https://www.youtube.com/embed/Sg5kqygFpJg"></iframe>
            
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class=" col-sm-6 col-md-6 col-lg-6  ">
          <h2>{{ serie.titulo }}</h2>
          
          <div class="row">
            <div class="col-sm-3">
              <p>{{ serie.duracao }}min</p>
            </div>
            <div class="col-sm-2">
              <p>{{ serie.ano }}</p>
            </div>
            <div class="col-sm-2">
              <p>{{ serie.classificacao }}</p>
            </div>
            

          </div>

          <p class="mt-3">{{ serie.descricao }}</p>

          <div class="row mt-5">
            <div class="col-sm">Diretor:</div>
            <div class="col-9">{{ serie.diretor }}</div>
            <div></div>
            <div class="col-sm">Gênero:</div>
            <div class="col-9">{{ serie.genero }}</div>

          </div>

          <div class="row mt-5">
            <div class="col-sm-2">
             
            </div>
            <div class="col-sm-2">
              <form method="POST">
                {% csrf_token %}
                <input hidden type="text" id="serie_id" name="serie_id" value="{{ ultima.id }}">
                <button class="btn btn-primary" type="submit" name="btn-serie"><i class="far fa-heart"></i></button>
              </form>
            </div>
            <div class="col-sm">

            </div>
          </div>



        </div>
      </div>


    </div>
  </section>

</body>














{%endblock series_descricao %}