{% extends 'base/index.html' %}
{% block series_descricao %}

{% include 'base/navbar.html' %}


<body  background="{{ serie.background.url }}">

<header class="fixed-background blue-gradient-bg">
 
  <section>

    <div class="container text-white">
      <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6  ">
          <h2>{{ serie.titulo }}</h2>
          <div class="row">
            <div class="col-sm-3">
              <p>{{ serie.duracao }}min</p>
            </div>
            <div class="col-sm-2">
              <p>{{ serie.ano }}</p>
            </div>
            <div class="col-sm-2">
              <p>{{ serie.classificacao }}</p>
            </div>
          </div>

          <p class="mt-3">{{ serie.descricao }}</p>

          <div class="row mt-5">
            <div class="col-sm">Diretor:</div>
            <div class="col-9">{{ serie.diretor }}</div>
            <div></div>
            <div class="col-sm">Gênero:</div>
            <div class="col-9">{{ serie.genero }}</div>

          </div>

          <div class="row mt-5">
            <div class="col-sm-2">
              <i class="fas fa-play-circle fa-4x"></i>
            </div>
            <div class="col-sm-2">
              <form method="POST" id="form_id">
                {% csrf_token %}
                <input hidden type="text" id="serie_id" name="serie_id" value="{{ serie.id }}">
                <button  type="submit" name="btn-serie"><i class="far fa-heart fa-4x"></i></button>
              </form>
            </div>
            <div class="col-sm">
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

</header>


</body>













{%endblock series_descricao %}